#footer{
    position: relative;
    display: flex;
    bottom: 0;
    background-color: #1b1c1c;
    padding: 3px;
    margin-top: auto;
    width: auto;
    height: 60px;
    align-items: center;
    justify-content: center;
}

#iconContainer{
    margin: 4px;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 10px;
}